
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAddressLineLabel">Create or edit a AddressLine</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="addressLine.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="addressLine.text"
                    required ng-maxlength="300" />
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.text.$error.maxlength" translate-value-max="300">
                    This field cannot be longer than 300 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_address">address</label>
            <select class="form-control" id="field_address" name="address" ng-model="addressLine.address" ng-options="address as address.id for address in addresss track by address.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
