
<div>
    <h2><span>PriceList</span> {{priceList.id}} ({{priceList.wefDateFrom | date:'mediumDate'}} - {{priceList.wefDateTo | date:'mediumDate'}})</h2>

    <div class="table-responsive">
        <table ng-table-dynamic="pricesTable with qColumns" class="table table-striped" show-filter="true">
            <tr ng-repeat="price in data">
                <td ng-repeat="column in qColumns" class="text-center">
                    {{ (column.title === 'Mill')? price.mill : ((column.title === 'Gsm-Shade')? price.shade + " (" + price.minGsm + "-" + price.maxGsm +")" : price.qualities[column.field])}}
                </td>
            </tr>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
